html(lang="ru")
    include includes/head
    body
        .wrapper
            include includes/header
            .container
                include includes/left_column
                include includes/content
            include includes/footer