include ../mixin/content.jade
div.main#home
    +article
    +article
    +article
div.main#goals
    h2 Цель проекта
    .content
        p Ed dit am velesequisit vullums andipit, quis auguer sent adit eummod doloboreet lorperos non etueril exeriurero doleniam, sustrud exero commy num velestrud dolor secte feu feuisl dolore dolore ming eumsandip euisim illan veliqui te magnim quatio eugait del irilit vullaorem incinis at. Hent utat ad tis nis non volenim vullutpat. Veniamet ametue exer irit vel iuscin velessequat prat et il ea facil il irit, quissi blaore vel dolore ting euis alis ate feummy nos duisit wis nos aliquat.
            img(src="assets/img/logo-goals.png" alt="logo-goals")
        h3
            a(href="#") Veniamet ametue
        p Ed dit am velesequisit vullums andipit, quis auguer sent adit eummod doloboreet lorperos non etueril exeriurero doleniam, sustrud exero commy num velestrud dolor secte feu feuisl dolore dolore ming eumsandip euisim illan veliqui te magnim quatio eugait del irilit vullaorem incinis at. Hent utat ad tis nis non volenim vullutpat. Veniamet ametue exer irit vel iuscin velessequat prat et il ea facil il irit, quissi blaore vel dolore ting euis alis ate feummy nos duisit wis nos aliquat. Ut prat ut niam il iustrud dolum iriliquat aut dolore feum amcons doloreet lobore do odiam, sum dolutpat. Ut amcons nis estrud magna alit amcommy nis aliquat, volore dolobore ex eummolutatum iriusto commolo rercilis dolorem zzrit adions eugait alit volesed tisit velisis dionseq uamcon ut velenibh enim er sed magna faccum iriusting eugait, commoloborem quat. Laoreet vulput do con velit wisit wis et velessequi eum ilit luptat, vel ex ent ip eum ate con heniat iuscipsuscip ea commod tat augait ex erciduipissi bla facin eu feuguer autem volutet niamcon sectem veliquis do exer secte dip enibh ea feugiam adipit am, sequamc onummod del iriure consequat.
        h3
            a(href="#") Veniamet ametue
        p Ed dit am velesequisit vullums andipit, quis auguer sent adit eummod doloboreet lorperos non etueril exeriurero doleniam, sustrud exero commy num velestrud dolor secte feu feuisl dolore dolore ming eumsandip euisim illan veliqui te magnim quatio eugait del irilit vullaorem incinis at. Hent utat ad tis nis non volenim vullutpat. Veniamet ametue exer irit vel iuscin velessequat prat et il ea facil il irit, quissi blaore vel dolore ting euis alis ate feummy nos duisit wis nos aliquat. Ut prat ut niam il iustrud dolum iriliquat aut dolore feum amcons doloreet lobore do odiam, sum dolutpat.
div.main#companies
    h2 Компании
    +item-dl
    +item-dl
    +item-dl