header
    .auth-panel
        a(href='#') регистрация
        a.link(href='#') вход
    .main-logo
        .logo
            a(href='index.html')
                img(src='assets/img/logo.png' alt='logotype')
                span.logo_desc managers to managers
        .header
            h1 Сообщество IT-компаний города Черкассы
    .tabs
        ul
            li.active
                a(href='#') главная
            li
                a(href='#') цель проекта
            li
                a(href='#') компании