header
    .auth
        form
            .top_line
                a(href="#") напомнить пароль?
            .input-group
                input(type="text" placeholder="логин")
                input(type="password" placeholder="******")
                button(type="submit")
    .registration
        form
            .input-group
                input(type="text" placeholder="имя")
                input(type="text" placeholder="фамилия")
                input(type="text" placeholder="email")
                input(type="text" placeholder="компания")
                input(type="text" placeholder="должность")
            .avatar
                img.upload_ava(src="assets/img/avatar_none.png" alt="avatar")
                label.upload_file
                    input(type="file")
                    span загрузить фото
            .footer_form
                button(type="submit")
    .auth-panel
        button.reg регистрация
        button.link.autht вход
    .main-logo
        .logo
            a(href='index.html')
                img(src='assets/img/logo.png' alt='logotype')
                span.logo_desc managers to managers
        .header
            h1 Сообщество IT-компаний города Черкассы
    .tabs
        ul
            li.active
                a(href='#') главная
            li
                a(href='#') цель проекта
            li
                a(href='#') компании