aside
    section.menu
        h3
            | Категории
            i.fa.fa-caret-down(aria-hidden="true")
        ul#left_menu
            li
                a(href='#')
                    i.fa.fa-arrow-right(aria-hidden="true")
                    | CMS
            li
                a(href='#')
                    i.fa.fa-arrow-right(aria-hidden="true")
                    | Design Patterns
            li
                a(href='#')
                    i.fa.fa-arrow-right(aria-hidden="true")
                    | CMS
            li
                a(href='#')
                    i.fa.fa-arrow-right(aria-hidden="true")
                    | Design Patterns
            li
                a(href='#')
                    i.fa.fa-arrow-right(aria-hidden="true")
                    | CMS
            li
                a(href='#')
                    i.fa.fa-arrow-right(aria-hidden="true")
                    | Design Patterns
            li
                a(href='#')
                    i.fa.fa-arrow-right(aria-hidden="true")
                    | CMS
            li
                a(href='#')
                    i.fa.fa-arrow-right(aria-hidden="true")
                    | Design Patterns
            li
                a(href='#')
                    i.fa.fa-arrow-right(aria-hidden="true")
                    | CMS
            li
                a(href='#')
                    i.fa.fa-arrow-right(aria-hidden="true")
                    | Design Patterns
            li
                a(href='#')
                    i.fa.fa-arrow-right(aria-hidden="true")
                    | CMS
            li
                a(href='#')
                    i.fa.fa-arrow-right(aria-hidden="true")
                    | Design Patterns
            li
                a(href='#')
                    i.fa.fa-arrow-right(aria-hidden="true")
                    | CMS
            li
                a(href='#')
                    i.fa.fa-arrow-right(aria-hidden="true")
                    | Design Patterns
            li
                a(href='#')
                    i.fa.fa-arrow-right(aria-hidden="true")
                    | CMS
            li
                a(href='#')
                    i.fa.fa-arrow-right(aria-hidden="true")
                    | Design Patterns
            li
                a(href='#')
                    i.fa.fa-arrow-right(aria-hidden="true")
                    | CMS
            li
                a(href='#')
                    i.fa.fa-arrow-right(aria-hidden="true")
                    | Design Patterns
    section.rss
        a.rss-btn(href='#')
            i.fa.fa-rss(aria-hidden="true")
            | RSS
    section.partners
        div.company-left_1 &nbsp;
        div.company-left_2 &nbsp;
        div.company-left_3 &nbsp;
        div.company-left_4 &nbsp;
        div.company-left_5 &nbsp;