mixin item
    .item
        .img-container
            img(src='assets/img/kyosho.png' alt='kyosho')
        .data-container
            h3 Kyosho Inc.
            table
                tr
                    td количество работников
                    td 50
                tr
                    td технологии
                    td PHP, Flash, Ruby
                tr
                    td возраст (лет на рынке)
                    td 20
                tr
                    td сайт
                    td
                        a.link(href='#') www.kyosho.org
                tr.no-border
                    td CEO
                    td Agent Anderson Smith
                tr.no-border
                    td &nbsp;
                    td
                        a(href='telto:+11858745254')
                            i.fa.fa-phone(aria-hidden="true")
                            | +1 185 8745-254
                tr.no-border
                    td &nbsp;
                    td
                        a(href='skype:reperok95_assa?call')
                            i.fa.fa-skype(aria-hidden="true")
                            | reperok95_assa
                tr.no-border
                    td &nbsp;
                    td
                        a(href='mailto:mc_sharingan@mail.ru')
                            i.fa.fa-at(aria-hidden="true")
                            | mc_sharingan@mail.ru
                tr.no-border
                    td &nbsp;
                    td
                        a(href='#')
                            i.fa.fa-tumblr(aria-hidden="true")
                            | smither
mixin item-dl
    .item
        .img-container
            img(src='assets/img/kyosho.png' alt='kyosho')
        .data-container
            h3 Kyosho Inc.
            dl
                dt количество работников
                dd 50

                dt технологии
                dd PHP, Flash, Ruby

                dt возраст (лет на рынке)
                dd 20

                dt сайт
                dd
                    a.link(href='#') www.kyosho.org

                .no-border
                    .no-border
                        dt CEO
                        dd Agent Anderson Smith

                    .no-border
                        dt &nbsp;
                        dd
                            a(href='telto:+11858745254')
                                i.fa.fa-phone(aria-hidden="true")
                                | +1 185 8745-254

                    .no-border
                        dt &nbsp;
                        dd
                            a(href='skype:reperok95_assa?call')
                                i.fa.fa-skype(aria-hidden="true")
                                | reperok95_assa

                    .no-border
                        dt &nbsp;
                        dd
                            a(href='mailto:mc_sharingan@mail.ru')
                                i.fa.fa-at(aria-hidden="true")
                                | mc_sharingan@mail.ru

                    .no-border
                        dt &nbsp;
                        dd
                            a(href='#')
                                i.fa.fa-tumblr(aria-hidden="true")
                                | smither
mixin article
    article
        h1 Кризис и ІТ
        .header_info
            span.article_author Автор:
                a(href="#") Руслан Пилин
            span.article_category Категории:
                a(href="#") Рынок труда
                |,
                a(href="#") Дзен
            span.article_date 28 марта 2009
        p.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid consectetur cum dignissimos ea laudantium maiores obcaecati temporibus. Delectus earum impedit in. Animi consequuntur dolores ea est inventore, iusto nam necessitatibus nisi quas quasi quos recusandae voluptate. Amet asperiores assumenda consectetur delectus dolor dolorum eum ex explicabo fugiat hic ipsam libero minus mollitia nulla obcaecati odit quae quasi quibusdam quisquam quo quod reprehenderit rerum, suscipit tempore voluptates! Aperiam eligendi expedita ipsa nulla qui, sint soluta! Culpa facere harum nulla repellat totam. Ab accusantium beatae eligendi facilis fuga harum illo nesciunt, omnis quasi quibusdam quisquam rem repellat saepe sit soluta vero?
            a.article_read(href="#") Читать далее
        .footer_info
            ul.artcile_votes
                li.active
                li.active
                li.active
                li
                li
            span.article_countv 3 голосов
            a.article_comments(href="#") 24 комментария