footer {
  @include span(12);
  border-top: 1px #b5b5b7 solid;
  .foot {
    @include push(4);
    width: calc(66.1016949153% - 25px);
    background-color: #d9dada;
    margin-bottom: 32px;
    max-height: 30px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    p {
      display: inline-block;
      margin-left: 12px;
      font: 400 10px/33px Arial;
      color: #78797b;
      span {
        font-weight: 700;
        color: black;
      }
    }
    img {
      float: right;
      margin-top: 7px;
      margin-right: 12px;
    }
  }
}