header {
  position: relative;
  .auth {
    display: none;
    background-color : #ffffff;
    border-radius: 10px;
    border-top-right-radius: 0;
    position: absolute;
    right: 0;
    top: 26px;
    min-width: 427px;
    padding: 23px;
    .top_line {
      @include span(3);
      @include push(9);
      position: relative;
      a {
        top: -20px;
        position: absolute;
        font: 400 11px/11px Arial;
        color: #606060;
        text-decoration: none;
        &:hover {
          text-decoration : underline;
        }
      }
    }
    .input-group {
      @include span(12);
      input {
        min-width: 153px;
        width: auto;
        background-color : #d5f1fa;
        color: #6badd4;
        font: 400 18px Arial;
        padding: 11px 0 12px 13px;
        margin-right: 10px;
        border: 0;
        outline: 0;
        border-radius: 5px;
        &[placeholder] {
          text-overflow:ellipsis;
          color: #6badd4;
        }
        &::-moz-placeholder {
          text-overflow:ellipsis;
          color: #6badd4;
        }
        &::-webkit-input-placeholder {
          text-overflow:ellipsis;
          color: #6badd4;
        }
        &:-moz-placeholder {
          text-overflow:ellipsis;
          color: #6badd4;
        }
        &:-ms-input-placeholder {
          text-overflow:ellipsis;
          color: #6badd4;
        }
      }
      button {
        width: 54px;
        background: #00a8ff url(../img/reg-sub.png) no-repeat 4px 4px;
        border: 0;
        border-radius: 5px;
        padding-top: 27px;
        padding-bottom: 17px;
        outline: 0;
        &:hover {
          background-color : #6badd4;
        }
      }
    }
  }
  .registration {
    display: none;
    background-color : #ffffff;
    border-radius: 10px;
    border-top-right-radius: 0;
    position: absolute;
    right: 0;
    top: 26px;
    max-width: 430px;
    padding: 22px 24px;
    .input-group {
      @include span(7 of 12);
      input {
        min-width: 228px;
        width: auto;
        background-color : #d5f1fa;
        color: #6badd4;
        font: 400 18px Arial;
        padding: 11px 0 12px 13px;
        margin-bottom: 7px;
        border: 0;
        outline: 0;
        border-radius: 5px;
        &[placeholder] {
          text-overflow:ellipsis;
          color: #6badd4;
        }
        &::-moz-placeholder {
          text-overflow:ellipsis;
          color: #6badd4;
        }
        &::-webkit-input-placeholder {
          text-overflow:ellipsis;
          color: #6badd4;
        }
        &:-moz-placeholder {
          text-overflow:ellipsis;
          color: #6badd4;
        }
        &:-ms-input-placeholder {
          text-overflow:ellipsis;
          color: #6badd4;
        }
      }
    }
    .avatar {
      @include span(5 of 12 last);
      text-align : right;
      img.upload_ava {
        width: 97%;
      }
      .upload_file {
        margin-top: 2px;
        input {
          display: none;
        }
        span {
          width: 78%;
          margin-top: 6px;
          text-align : center;
          display: inline-block;
          font: 400 14px Arial;
          color: #00a8ff;
          border: 2px solid #00a8ff;
          border-radius: 5px;
          padding: 12px 15px;
          transition: all .5s;
          &:hover {
            background-color : #00a8ff;
            color: #ffffff;
            cursor: pointer;
          }
        }
      }
    }
    .footer_form {
      @include span(3 of 12 last);
      @include push(9);
      text-align : right;
      margin-top: 11px;
      button {
        width: 54px;
        height: 33px;
        background: #00a8ff url(../img/reg-sub.png) no-repeat 4px 4px;
        border: 0;
        border-radius: 5px;
        outline: 0;
        &:hover {
          background-color : #6badd4;
        }
      }
    }
  }
  @include span(12);
  border-bottom: 1px $tabs_border_color solid;
  .auth-panel {
    @include span(2 of 12 last);
    @include push(10);
    position: relative;
    background-color: $elem_bg_color;
    max-height: 24px;
    padding: 7px 22px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: space-around;
    &.active {
      border-radius: 0;
      &::before {
        position: absolute;
        top: -34px;
        left: -65px;
        content: " ";
        background-color: transparent;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        box-shadow: 30px 15px 0 #ffffff;
      }
    }
    button {
      color: $link_color;
      font: 400 11px Arial, sans-serif;
      text-align: center;
      text-decoration: none;
      border: 0;
      outline: 0;
      background-color : inherit;
      &:first-child::after {
        content : '|';
        width: 1px;
        height: 10px;
        margin-left: 18px;
      }
      &:hover {
        color: $link_active_color;
        text-decoration: underline;
      }
    }
  }
  .main-logo {
    @include span(12);
    margin-top: 17px;
    .logo {
      @include span(6 of 12);
      position: relative;
      .logo_desc {
        position: absolute;
        left: 170px;
        top: 21px;
        max-width: 120px;
        color: $logo_desc_color;
        font: 500 21px/19px "AFKlampenborg", sans-serif;
      }
    }
    .header {
      @include span(6 of 12 last);
      h1 {
        color: $header_color;
        font: 400 15px/33px "Helios", sans-serif;
        text-align : right;
        margin-top: 21px;
        margin-right: 29px;
      }
    }
  }
  .tabs {
    @include span(6.4 of 12 last);
    @include push(5.6);
    ul {
      font-size: 0;
      margin-bottom: -1px;
      li {
        padding: 14px 40px;
        display : inline-block;
        color: $tabs_text_color;
        font: 400 16px Arial, sans-serif;
        border: 1px $tabs_border_color solid;
        background: linear-gradient(to bottom, #e5eaeb, #d9d7d5);
        &:hover {
          border-color: $active_tabs;
          a {
            color: $active_tabs;
          }
        }
        &:first-child {
          border-top-left-radius: 30px;
        }
        &:last-child {
          border-top-right-radius: 30px;
        }
        a {
          color : inherit;
          text-decoration: none;
        }
        &.active {
          background: linear-gradient(to bottom, #ffffff, #e8eced);
          border-bottom: 1px #e8eced solid;
          a {
            color: $active_tabs;
          }
        }
      }
    }
  }
}